html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container {
    width: 100vw;
    max-width: 100%;
}

.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #a08063;
  height: 2178px;
  position: relative;
  overflow: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('Backdrop.jpg') center/cover no-repeat;
}

/* Use a pseudo-element to create the fading effect */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* Adjust transparency */
}

.backdrop-1 {
  width: 1920px;
  height: 980px;
  position: absolute;
  left: -1px;
  top: 0px;
  object-fit: cover;
  opacity: 0.5
}
.the-klementinum {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 537px;
  top: 361px;
  width: 844px;
}
.description {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 500;
  position: absolute;
  left: 537px;
  top: 467px;
  width: 844px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 868px;
  top: 609px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.browse-all {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-footer {
  background: #ffffff;
  height: 264px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 347px;
  top: 48px;
}
.store {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-release {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.browse {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.check-out {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 80px;
  top: 48px;
}
.about-us {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.our-team {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-us {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-klementinum-library {
  color: #000000;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 80px;
  top: 114px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

p {
    color: #f0f0f0;
    font-size: 1.2rem;
}


.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    color: #ffcc00; /* Soft gold effect */
}

.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 80px;
  top: 1px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.navigation {
  background: #ffffff;
  width: 1920px;
  height: 988px;
  position: absolute;
  left: -1px;
  top: 978px;
  overflow: hidden;
}
.trending {
  color: #000000;
  text-align: center;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  letter-spacing: var(--title-letter-spacing, -0.02em);
  font-weight: var(--title-font-weight, 700);
  position: absolute;
  left: 378px;
  top: 498.49px;
  width: 1163.11px;
  -webkit-text-stroke: 1px #000000;
}
.book-bg {
  background: linear-gradient(to left, #edecec, #edecec),
    linear-gradient(to left, #edecec, #edecec);
  border-radius: 8px;
  width: 1500px;
  height: 359px;
  position: absolute;
  left: 207px;
  top: 578px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.left {
  width: 48.19px;
  height: 48px;
  position: absolute;
  left: 219.05px;
  top: 734px;
  overflow: visible;
}
.right {
  width: 48.19px;
  height: 48px;
  position: absolute;
  left: 1658.81px;
  top: 734px;
  overflow: visible;
}
.book-10 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200.8px;
  height: 310px;
  position: absolute;
  left: 1427.88px;
  top: 603px;
}
.book-9 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200.8px;
  height: 310px;
  position: absolute;
  left: 1137.72px;
  top: 603px;
}
.book-8 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200.8px;
  height: 310px;
  position: absolute;
  left: 850.57px;
  top: 603px;
}
.book-7 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200.8px;
  height: 310px;
  position: absolute;
  left: 563.43px;
  top: 603px;
}
.book-6 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200.8px;
  height: 310px;
  position: absolute;
  left: 276.28px;
  top: 603px;
}
.new-release2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 378px;
  top: 39px;
  width: 1163.11px;
  -webkit-text-stroke: 1px #000000;
}
.book-bg2 {
  background: linear-gradient(to left, #edecec, #edecec),
    linear-gradient(to left, #edecec, #edecec);
  border-radius: 8px;
  width: 1494px;
  height: 359px;
  position: absolute;
  left: 201px;
  top: 127px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.left2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 219px;
  top: 281px;
  overflow: visible;
}
.right2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1653px;
  top: 281px;
  overflow: visible;
}
.book-5 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200px;
  height: 310px;
  position: absolute;
  left: 1423px;
  top: 150px;
}
.book-4 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200px;
  height: 310px;
  position: absolute;
  left: 1134px;
  top: 150px;
}
.book-3 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200px;
  height: 310px;
  position: absolute;
  left: 848px;
  top: 150px;
}
.book-2 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200px;
  height: 310px;
  position: absolute;
  left: 562px;
  top: 150px;
}
.book-1 {
  background: #e8e8e8;
  border-radius: 8px;
  width: 200px;
  height: 310px;
  position: absolute;
  left: 276px;
  top: 150px;
}
.left-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 63px;
  top: 995px;
}
.return {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: #2c2c2c;
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button2 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: relative;
}
.home-category {
  flex-shrink: 0;
  width: 80px;
  height: 36px;
  position: static;
}
.tab {
  border-radius: var(--var-sds-size-radius-100, 4px)
    var(--var-sds-size-radius-100, 4px) 0px 0px;
  border-style: solid;
  border-color: #303030;
  border-width: 0px 0px 1px 0px;
  padding: var(--var-sds-size-space-100, 4px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-100, 4px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 102px;
  top: 4px;
}
.label {
  color: var(--var-sds-color-text-neutral-default, #303030);
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 140%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: relative;
}
.navigation2 {
  background: rgba(255, 255, 255, 0);
  width: 1920px;
  height: 164px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.shopping-cart {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1857px;
  top: 72px;
  overflow: visible;
}
.items3 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 79px;
  top: 71px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.catalog {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-bar {
  background: var(--schemes-surface-container-high, #ece6f0);
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 56px;
  min-width: 360px;
  max-width: 720px;
  position: absolute;
  left: 1151px;
  top: 56px;
  background: rgba(255, 255, 255);
  border-radius: 25px;
  padding: 5px 15px;
  width: 250px;
  overflow: hidden;  
}

.leading-icon {
    position: absolute;
    left: 10px; /* Adjust left alignment */
}

.trailing-elements {
    position: absolute;
    right: 10px; /* Adjust right alignment */
}

.search-input {
    width: 100%;
    padding: 10px 30px; /* Adds space for icons */
    border: none;
    outline: none;


}
.state-layer {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.leading-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer2 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trailing-elements {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
._1st-trailing-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.the-klementinum-library2 {
  color: #ffffff;
  text-align: left;
  font-family: "PlayfairDisplay-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 80px;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
